@font-face {
  font-family: "NeueMontreal-Medium";
  src: url(assets/fonts/NeueMontreal-Medium.woff2) format("truetype");
}

@font-face {
  font-family: "NeueMontreal-Medium-Italic";
  src: url(assets/fonts/NeueMontreal-MediumItalic.woff2) format("truetype");
}

@font-face {
  font-family: "NeueMontreal-Regular";
  src: url(assets/fonts/NeueMontreal-Regular.woff2) format("truetype");
}

@font-face {
  font-family: "RecklessNeue-Medium";
  src: url(assets/fonts/RecklessNeue-Medium.woff2) format("truetype");
}

@font-face {
  font-family: "RecklessNeue-Regular";
  src: url(assets/fonts/RecklessNeue-Regular.woff2) format("truetype");
}

:root {
  --background-color-fondo: #f1f0ea;
  --background-color-seccion1: #112c50;
  --background-color-seccion2: #b9cade;
  --background-color-seccion3: #d7c2b6;
  --background-color-acentos1: #c55a26;
  --background-color-acentos2: #e3be86;
  --background-color-hr: #126f8c;
  --background-color-hover: #faa82a;
  --font-size-encabezado-h1: 55px;
  --font-size-encabezado-h2: 36px;
  --font-size-encabezado-h3: 32px;
  --font-size-encabezado-h4: 18px;
  --font-size-texto-destacado: 20px;
  --font-size-parrafos: 16px;
  --font-family-neue-medium: "NeueMontreal-Medium";
  --font-family-neue-medium-italic: "NeueMontreal-Medium-Italic";
  --font-family-neue-regular: "NeueMontreal-Regular";
  --font-family-reckless-medium: "RecklessNeue-Medium";
  --font-family-reckless-regular: "RecklessNeue-Regular";
  --padding-for-header: 20px;
  --max-width-page: 1488px;
  --auxiliary-acentos-1: rgb(197 90 38);
  --auxiliary-acentos-2: rgb(227 190 134);
  --auxiliary-hover: rgb(250 168 42);
  --basics-black: rgb(0 0 0);
  --basics-white: rgb(241 240 234);
  --primary-fondo: var(--basics-white);
  --primary-secciones-1: rgb(17 44 80);
  --secondary-secciones-2: rgb(185 202 222);
  --secondary-secciones-3: rgb(215 194 182);
  --padding-default: 20px;
  --padding-header: var(--padding-default);
  --padding-top-bottom-section: 100px;

  --width-container: 80%;
  --width-container-max: 1200px;
  --width-prueba: 40%;
  --width-hero: 38%;
  --width-team: 30%;
  --width-location-left: 30%;
  --width-location-right: 70%;
  --width-footer-section1: 10%;
  --width-footer-section2: 10%;
  --width-footer-section3: 30%;
  --width-footer-section4: 30%;
  --width-social-media: 8%;
  --margin-default: 20px;
  --margin-top-section: 50px;
  --margin-bottom-section: 50px;
  --margin-bottom-header: 70px;
  --border-radius-default: 10px;
  --border-radius-large: 20px;
  --gap-form-grid: 20px;
  --padding-input: 10px;
  --padding-button: 10px 20px;
  --padding-large: 50px;
  --width-form-email: 80%;
  --text-on-dark: var(--basics-white);
  --text-primary: var(--basics-black);
  --size-button-text: 0.1414rem;
  --size-parrafo: 0.1616rem;
  --size-h4: 0.1818rem;
  --size-texto-destacado: 0.202rem;
  --size-h3: 0.3232rem;
  --size-h2: 0.3636rem;
  --size-h1: 0.5556rem;
  --weight-parrafo: Regular;
  --radius-button-radius: 0.101rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: var(--max-width-page);
  padding: 0 20px;
  margin: 0 auto;
}

.container2 {
  width: 80%;
  padding: 0 20px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.row-location {
  display: flex;
  justify-content: space-between;
}

.hero {
  background-color: var(--background-color-seccion1);
}

header .top-bar {
  padding: var(--padding-for-header);
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.top-bar-content a,
span {
  color: var(--background-color-fondo);
  text-decoration: none;
}

.language-switcher {
  margin-right: 30px;
}

.section-background-image {
  background-image: url(../assets/img/header-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section-background-image .container nav {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 70px;
}

.nav-links {
  list-style-type: none;
}

.nav-links li {
  display: inline-block;
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--background-color-fondo);
  font-family: var(--font-family-neue-medium);
}

.hero-content {
  color: var(--background-color-fondo);
  width: 38%;
  padding-bottom: 100px;
}

.hero-content p {
  font-size: var(--font-size-parrafos);
  font-family: var(--font-family-reckless-medium);
  margin-bottom: 20px;
}

.hero-content h1 {
  font-size: var(--font-size-encabezado-h1);
  font-family: var(--font-family-reckless-regular);
  margin-bottom: 20px;
}

.hero-buttons a {
  text-decoration: none;
}

.highlight {
  font-family: var(--font-family-neue-medium-italic);
}

.btn-1 {
  background-color: var(--background-color-acentos2);
  padding: 10px 8px;
  border-radius: 7px;
  margin-right: 20px;
  border: none;
}

.btn-2 {
  background-color: var(--background-color-acentos1);
  padding: 10px 8px;
  border-radius: 7px;
  border: none;
}

.btn-1 a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.btn-2 a {
  color: var(--background-color-fondo);
  font-weight: bold;
  text-decoration: none;
}

.about {
  background-color: var(--background-color-fondo);
  padding-top: 100px;
  padding-bottom: 100px;
}

.prueba {
  width: 40%;
  margin-right: 40px;
}

.about hr {
  width: 12%;
  border-top: 7px solid var(--background-color-hr);
  margin-bottom: 10px;
}

.about h2 {
  font-size: var(--font-size-encabezado-h2);
  font-family: var(--font-family-reckless-regular);
  margin-bottom: 30px;
}

.about p {
  font-size: var(--font-size-parrafos);
  font-family: var(--font-family-neue-medium);
}

.aboutspan {
  font-weight: bold;
  font-family: var(--font-family-neue-medium-italic);
  color: black;
}

aside img {
  border-radius: 20px;
}

.services {
  background-image: url(../assets/img/techo-cristal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: var(--background-color-fondo);
}

.services h3 {
  font-size: var(--font-size-encabezado-h3);
  margin-bottom: 20px;
  font-family: var(--font-family-reckless-regular);
}

.services p {
  font-size: var(--font-size-parrafos);
}

.team {
  background-color: var(--background-color-fondo);
  padding-top: 100px;
  padding-bottom: 60px;
}

.contenedor-team1 {
  width: 30%;
}

.contenedor-team1 hr {
  width: 15%;
  border-top: 5px solid var(--background-color-hr);
  margin-bottom: 20px;
}

.contenedor-team1 h3 {
  font-size: var(--font-size-encabezado-h3);
  font-family: var(--font-family-reckless-regular);
  margin-bottom: 70px;
}

.team-members {
  background-color: var(--background-color-seccion2);
  width: 80%;
  padding: 20px;
  border-radius: 10px;
}

.span20 {
  font-weight: bold;
  font-family: var(--font-family-neue-medium-italic);
  color: black;
  font-size: var(--font-size-parrafos);
}

.team-members p {
  margin-bottom: 10px;
  font-size: var(--font-size-parrafos);
  font-family: var(--font-family-neue-medium);
}

.team-members h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: var(--font-size-encabezado-h4);
  font-family: var(--font-family-reckless-regular);
}

.team-members .row article {
  margin-right: 40px;
}

.testimonials {
  background-color: var(--background-color-seccion1);
  padding-top: 30px;
  padding-bottom: 50px;
}

.testimonials .container hr {
  width: 5%;
  border-top: 7px solid var(--background-color-hr);
}

.testimonials .container h3 {
  font-size: var(--font-size-encabezado-h3);
  color: var(--background-color-fondo);
  font-family: var(--font-family-reckless-regular);
  margin-bottom: 20px;
}

.row-testimonial {
  display: flex;
  justify-content: space-between;
}

.testimonials-container .row-testimonial blockquote {
  background-color: var(--background-color-fondo);
  width: 22%;
  padding: 20px 15px;
  text-align: justify;
}

blockquote p {
  font-size: var(--font-size-parrafos);
}

blockquote footer {
  margin-top: 20px;
}

.contact-form {
  background-color: var(--background-color-fondo);
  padding-top: 50px;
  padding-bottom: 20px;
}

.contact-form .container hr {
  width: 5%;
  border-top: 7px solid var(--background-color-hr);
  margin-bottom: 10px;
}

.contact-form .container h3 {
  font-size: var(--font-size-encabezado-h3);
  font-family: var(--font-family-reckless-regular);
  margin-bottom: 10px;
}

.contact-form .container p {
  font-size: var(--font-size-parrafos);
  margin-bottom: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 0 auto;
  max-width: 1000px;
  margin-bottom: 50px;
}

.form-grid input[type="text"],
.form-grid input[type="email"],
.form-grid input[type="tel"],
.form-grid textarea {
  padding: 10px;
  background-color: #e0e0e0;
  border: none;
}

.form-grid textarea {
  grid-column: span 2;
  padding: 50px;
  text-align: left;
}

.form-grid button {
  grid-column: 2;
  justify-self: end;
  padding: 10px 20px;
  border-radius: 20px;
}

.location {
  background-color: var(--background-color-fondo);
  padding-bottom: 30px;
}

.location .container .row-location > :nth-child(1) {
  width: 30%;
}

.location .container .row-location > :nth-child(2) {
  width: 70%;
}

.location .container hr {
  width: 20%;
  border-top: 7px solid var(--background-color-hr);
  margin-bottom: 10px;
}

.location .container h3 {
  font-size: var(--font-size-encabezado-h3);
  font-family: var(--font-family-reckless-regular);
  margin-bottom: 30px;
}

.location .container p {
  font-size: var(--font-size-parrafos);
  font-family: var(--font-family-reckless-regular);
}

.footerreal {
  background-color: var(--background-color-seccion1);
  color: var(--background-color-fondo);
  padding-top: 30px;
  padding-bottom: 50px;
}

footer a {
  color: var(--background-color-fondo);
  text-decoration: none;
}

.row-footer {
  display: flex;
  justify-content: space-between;
}

.footer-info a {
  display: block;
  margin-bottom: 20px;
  font-family: var(--font-family-neue-regular);
}

.footer-nav ul {
  list-style-type: none;
}

.footer-nav ul li {
  margin-bottom: 20px;
}

.footer-nav ul li a {
  font-family: var(--font-family-neue-regular);
}

.row-footer > :nth-child(1) {
  width: 10%;
}

.row-footer > :nth-child(2) {
  width: 10%;
}

.row-footer > :nth-child(3) {
  width: 30%;
  text-align: center;
  margin-top: 20px;
}

.row-footer > :nth-child(3) img {
  margin-bottom: 30px;
}

.row-footer > :nth-child(4) {
  width: 30%;
}

.social-media img {
  width: 8%;
  margin-right: 10px;
}

.newsletter {
  position: relative;
}

.newsletter p {
  font-size: var(--font-size-parrafos);
  font-family: var(--font-family-reckless-regular);
  margin-bottom: 10px;
}

.newsletter input[type="email"] {
  width: 80%;
  display: block;
  padding: 5px;
  background-color: var(--background-color-seccion2);
}

.newsletter button {
  color: var(--background-color-fondo);
  background-color: var(--background-color-seccion1);
  border-radius: 15px;
  padding: 5px 20px;
  position: absolute;
  top: 70px;
  left: 270px;
  border: 1px solid white;
}
